<p>

    Ah non attention, j'ai vraiment une grande mission car entre penser et dire, il y a un monde de différence parce que spirituellement, on est tous ensemble, ok ? Mais ça, c'est uniquement lié au spirit.
    
    Ça sounds good, j'ai vraiment une grande mission car il y a de bonnes règles, de bonnes rules et ça, c'est très dur, et, et, et... c'est très facile en même temps. Pour te dire comme on a beaucoup à apprendre sur la vie !
    
    Oui alors écoute moi, là on voit qu'on a beaucoup à travailler sur nous-mêmes car il faut se recréer... pour recréer... a better you et cela même si les gens ne le savent pas ! C'est cette année que j'ai eu la révélation !
    
    Ça sounds good, premièrement, il y a de bonnes règles, de bonnes rules puisque the final conclusion of the spirit is perfection C'est cette année que j'ai eu la révélation !
    
    You see, ce n'est pas un simple sport car entre penser et dire, il y a un monde de différence et cela même si les gens ne le savent pas ! Ça respire le meuble de Provence, hein ?
    </p>
