<div class="filter">

    <input placeholder="rechercher" type="text" id="search" name="search" [(ngModel)]="search"/> <br>
   <select [(ngModel)]="order" >
       <option value="asc">plus vieux</option>
       <option value="dsc">plus récent</option>
       <option value="A-Z">A-Z</option>
       <option value="Z-A">Z-A</option>
     </select>
   </div>
   <div class="products">
     <div class="figurine" *ngIf="order === 'asc' ||order === 'dsc'">
       <app-product-card *ngFor="let product of (productsObservable | async | sortByDate:order | filterByName:search)" [myProduct]="product" [displayLink]="true"></app-product-card>
     </div>
     <div class="figurine" *ngIf="order === 'A-Z' ||order === 'Z-A'">
       <app-product-card *ngFor="let product of (productsObservable | async | sortByName:order | filterByName:search)" [myProduct]="product" [displayLink]="true"></app-product-card>
     </div>
     <div class="figurine" *ngIf="order === '' ">
       <app-product-card *ngFor="let product of (productsObservable | async | filterByName:search)" [myProduct]="product" [displayLink]="true"></app-product-card>
     </div>
     </div>
