.card-img-basket{
    height:150px;
    width:90px;
}
.btn-order{
    position: relative;
  background-color: #be7c00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 15px;
  padding: 5px;
}
.btn-order:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .btn-order:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .total-basket{
      margin-top: 3rem;
      margin-left:50rem ;
  }
  .card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .trash-basket-btn{
    background: #f1f1f1;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 50px;
  }
  .trash-basket{
    width: 50px;
    height: 50px;
  }
