<button class="btn-order">commander</button>
<div *ngFor="let article of articles">
<div class="container-card">
  <div class="card">
    <img
      src={{article.imageUrl}}
      alt=""
      class="card-img-basket"
    />
    <h5 class="card-title-basket">{{article.title}}</h5>
    <div class="variant-price-basket">{{article.price}}</div>
    <button class="trash-basket-btn">supprimer</button>
  </div>
</div>
</div>
<div class="total-basket">prix total :</div>
<button class="btn-order">commander</button>

